@font-face {
    font-family: "Avenir Bold";
    src: url("../fonts/avenir_next.woff2") format("woff2"),
         url("../fonts/avenir_next.woff") format("woff");
  }
@font-face {
    font-family: "Avenir Regular";
    src: url("../fonts/avenir.woff2") format("woff2"),
         url("../fonts/avenir.woff") format("woff");
}