.navigation {
    font-size: 16px;
    height: 100px;
    padding: 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.navigation__logo {
    height: 50%;
    margin-left: 10%;
    svg {
        height: 100%;
    }
    @media (hover: hover) {
        &:hover {
            svg * {
                fill: $color-yellow;
            }
        }
    }
}
.navigation__list {
    margin-right: 10%;
    width: 40%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
        padding: 0.5em;
        @media (hover: hover) {
            &:hover {
                color: $color-yellow;
            }
        }
    }
}
.navigation__mobile-list {
    background-color: $color-white;
    z-index: 1;
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    position: absolute;
    text-align: end;
    top: 100px;
    transition-duration: 0.3s;
    li {
        padding-right: 5%;
        @media (hover: hover) {
            a:hover {
                color: $color-yellow;
            }
        }
    }
}
.navigation__hamburger-button {
    margin-right: 5%;
    @media (hover: hover) {
        &:hover {
            svg path {
                transition-duration: 0.3s;
                fill: $color-yellow;
            }
        }
    }
    &--open {
        path {
            transition-duration: 0.3s;
        }
        .hamburger--top {
            transform-origin: 50% 10%;
            transform: translateY(40%) rotate(45deg);
        }
        .hamburger--middle {
            transform-origin: center;
            transform: scale(0);
        }
        .hamburger--bottom {
            transform-origin: 50% 90%;
            transform: translateY(-40%) rotate(-45deg);
        }
    }
}
